<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tpay.sys.mapper.SysDicIndexMapper">
    <resultMap id="BaseResultMap" type="com.tpay.sys.model.SysDicIndex">
        <id column="ID_" jdbcType="BIGINT" property="id" />
        <result column="CATALOG_ID" jdbcType="BIGINT" property="catalogId" />
        <result column="KEY_VALUE" jdbcType="VARCHAR" property="keyValue" />
        <result column="KEY_NAME" jdbcType="VARCHAR" property="keyName" />
        <result column="ENABLE_" jdbcType="INTEGER" property="enable" />
        <result column="REMARK_" jdbcType="VARCHAR" property="remark" />
        <result column="CREATE_BY" jdbcType="BIGINT" property="createBy" />
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
        <result column="UPDATE_BY" jdbcType="BIGINT" property="updateBy" />
        <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />

    </resultMap>

    <!-- 基本列 -->
    <sql id="Base_Column_List">
        ID_,CATALOG_ID,KEY_VALUE,KEY_NAME,ENABLE_,REMARK_,CREATE_BY,CREATE_TIME,UPDATE_BY,UPDATE_TIME
    </sql>

    <!-- 单个插入 -->
    <insert id="insert" parameterType="com.tpay.sys.model.SysDicIndex" useGeneratedKeys="true" keyProperty="id">
        insert into sys_dic_index
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID_,
            </if>
            <if test="catalogId != null">
                CATALOG_ID,
            </if>
            <if test="keyValue != null">
                KEY_VALUE,
            </if>
            <if test="keyName != null">
                KEY_NAME,
            </if>
            <if test="enable != null">
                ENABLE_,
            </if>
            <if test="remark != null">
                REMARK_,
            </if>
            <if test="createBy != null">
                CREATE_BY,
            </if>
            <if test="createTime != null">
                CREATE_TIME,
            </if>
            <if test="updateBy != null">
                UPDATE_BY,
            </if>
            <if test="updateTime != null">
                UPDATE_TIME,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="catalogId != null">
                #{catalogId,jdbcType=BIGINT},
            </if>
            <if test="keyValue != null">
                #{keyValue,jdbcType=VARCHAR},
            </if>
            <if test="keyName != null">
                #{keyName,jdbcType=VARCHAR},
            </if>
            <if test="enable != null">
                #{enable,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <!-- 批量新增 -->
    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO sys_dic_index
        (ID_,CATALOG_ID,KEY_VALUE,KEY_NAME,ENABLE_,REMARK_,CREATE_BY,CREATE_TIME)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id,jdbcType=BIGINT},#{item.catalogId,jdbcType=BIGINT},#{item.keyValue,jdbcType=VARCHAR},#{item.keyName,jdbcType=VARCHAR},#{item.enable,jdbcType=INTEGER},#{item.remark,jdbcType=VARCHAR},#{item.createBy,jdbcType=BIGINT},#{item.createTime,jdbcType=TIMESTAMP})
        </foreach>
    </insert>

    <!-- 单个更新 -->
    <update id="update" parameterType="com.tpay.sys.model.SysDicIndex">
        update sys_dic_index
        <set>
            <if test="catalogId != null">
                CATALOG_ID=#{catalogId,jdbcType=BIGINT},
            </if>
            <if test="keyValue != null">
                KEY_VALUE=#{keyValue,jdbcType=VARCHAR},
            </if>
            <if test="keyName != null">
                KEY_NAME=#{keyName,jdbcType=VARCHAR},
            </if>
            <if test="enable != null">
                ENABLE_=#{enable,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                REMARK_=#{remark,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null">
                CREATE_BY=#{createBy,jdbcType=BIGINT},
            </if>
            <if test="updateBy != null">
                UPDATE_BY=#{updateBy,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null">
                UPDATE_TIME=#{updateTime,jdbcType=TIMESTAMP},
            </if>

        </set>
        where id_ = #{id,jdbcType=BIGINT}
    </update>

    <!-- 批量更新 -->
    <update id="updateBatch" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            UPDATE sys_dic_index
            <set>
                <if test="item.catalogId != null">
                    CATALOG_ID=#{item.catalogId,jdbcType=BIGINT},
                </if>
                <if test="item.keyValue != null">
                    KEY_VALUE=#{item.keyValue,jdbcType=VARCHAR},
                </if>
                <if test="item.keyName != null">
                    KEY_NAME=#{item.keyName,jdbcType=VARCHAR},
                </if>
                <if test="item.enable != null">
                    ENABLE_=#{item.enable,jdbcType=INTEGER},
                </if>
                <if test="item.remark != null">
                    REMARK_=#{item.remark,jdbcType=VARCHAR},
                </if>
                <if test="item.createBy != null">
                    CREATE_BY=#{item.createBy,jdbcType=BIGINT},
                </if>
                <if test="item.updateBy != null">
                    UPDATE_BY=#{item.updateBy,jdbcType=BIGINT},
                </if>
                <if test="item.updateTime != null">
                    UPDATE_TIME=#{item.updateTime,jdbcType=TIMESTAMP},
                </if>

            </set>
            WHERE id_ = #{item.id,jdbcType=BIGINT}
        </foreach>
    </update>

    <update id="updateByParam" parameterType="java.util.Map">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update  sys_dic_index
            <set>
                <if test="catalogId != null">
                    CATALOG_ID=#{catalogId,jdbcType=BIGINT},
                </if>
                <if test="keyValue != null">
                    KEY_VALUE=#{keyValue,jdbcType=VARCHAR},
                </if>
                <if test="keyName != null">
                    KEY_NAME=#{keyName,jdbcType=VARCHAR},
                </if>
                <if test="enable != null">
                    ENABLE_=#{enable,jdbcType=INTEGER},
                </if>
                <if test="remark != null">
                    REMARK_=#{remark,jdbcType=VARCHAR},
                </if>
                <if test="createBy != null">
                    CREATE_BY=#{createBy,jdbcType=BIGINT},
                </if>
                <if test="updateBy != null">
                    UPDATE_BY=#{updateBy,jdbcType=BIGINT},
                </if>
                <if test="updateTime != null">
                    UPDATE_TIME=#{updateTime,jdbcType=TIMESTAMP},
                </if>

            </set>
            where id_ = #{id,jdbcType=BIGINT}
        </foreach>
    </update>

    <!-- 删除 -->
    <update id="deleteByPk" parameterType="com.tpay.sys.model.SysDicIndex" >
        update sys_dic_index
        set update_time = #{updateTime,jdbcType=TIMESTAMP},update_by = #{updateBy,jdbcType=VARCHAR}, enable_ = 0
        where id_ = #{id,jdbcType=BIGINT}
    </update>

    <update id="deleteByParam" parameterType="com.tpay.sys.model.SysDicIndex" >
        update sys_dic_index
        set update_time = #{updateTime,jdbcType=TIMESTAMP},update_by = #{updateBy,jdbcType=VARCHAR}, enable_ = 0
        where id_ = #{id,jdbcType=BIGINT}
    </update>

    <!-- 批量删除 -->
    <update id="deleteBatch" parameterType="java.util.List" >
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update sys_dic_index
            set update_time = #{updateTime,jdbcType=TIMESTAMP},update_by = #{updateBy,jdbcType=VARCHAR}, enable_ = 0
            where id_ = #{item.id,jdbcType=BIGINT}
        </foreach>
    </update>


    <!-- COUNT -->
    <select id="count" resultType="java.lang.Integer">
        SELECT count(*) FROM sys_dic_index where enable_ = 1
    </select>

    <select id="countByParam" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(*) from sys_dic_index
        <where>
            <if test="catalogId != null">
                and CATALOG_ID=#{catalogId,jdbcType=BIGINT}
            </if>
            <if test="keyValue != null">
                and KEY_VALUE=#{keyValue,jdbcType=VARCHAR}
            </if>
            <if test="keyName != null">
                and KEY_NAME=#{keyName,jdbcType=VARCHAR}
            </if>
            <if test="enable != null">
                and ENABLE_=#{enable,jdbcType=INTEGER}
            </if>
            <if test="remark != null">
                and REMARK_=#{remark,jdbcType=VARCHAR}
            </if>
            <if test="createBy != null">
                and CREATE_BY=#{createBy,jdbcType=BIGINT}
            </if>
            <if test="updateBy != null">
                and UPDATE_BY=#{updateBy,jdbcType=BIGINT}
            </if>
            <if test="updateTime != null">
                and UPDATE_TIME=#{updateTime,jdbcType=TIMESTAMP}
            </if>

        </where>
    </select>

    <!-- 单个查询 -->
    <select id="selectByPk" parameterType="java.lang.Long" resultType="com.tpay.sys.model.SysDicIndex">
        select <include refid="Base_Column_List" /> from sys_dic_index
        where id_ = #{item.id,jdbcType=BIGINT} AND enable_ = 1
    </select>

    <!-- 查询所有 -->
    <select id="selectAll" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from sys_dic_index where enable_ = 1
    </select>


    <select id="selectByParam" parameterType="java.util.Map" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from sys_dic_index
        <where>
            <if test="catalogId != null">
                and CATALOG_ID=#{catalogId,jdbcType=BIGINT}
            </if>
            <if test="keyValue != null">
                and KEY_VALUE=#{keyValue,jdbcType=VARCHAR}
            </if>
            <if test="keyName != null">
                and KEY_NAME=#{keyName,jdbcType=VARCHAR}
            </if>
            <if test="enable != null">
                and ENABLE_=#{enable,jdbcType=INTEGER}
            </if>
            <if test="remark != null">
                and REMARK_=#{remark,jdbcType=VARCHAR}
            </if>
            <if test="createBy != null">
                and CREATE_BY=#{createBy,jdbcType=BIGINT}
            </if>
            <if test="updateBy != null">
                and UPDATE_BY=#{updateBy,jdbcType=BIGINT}
            </if>
            <if test="updateTime != null">
                and UPDATE_TIME=#{updateTime,jdbcType=TIMESTAMP}
            </if>

        </where>
        <if test="orderColumn != null">
            order by ${orderColumn}
            <if test="orderType != null">
                ${orderType}
            </if>
        </if>
    </select>

    <select id="selectIdPage" resultType="java.lang.Long">
        select id_ from sys_dic_index
        <where>
            <if test="catalogId != null">
                and CATALOG_ID=#{catalogId,jdbcType=BIGINT}
            </if>
            <if test="keyValue != null">
                and KEY_VALUE=#{keyValue,jdbcType=VARCHAR}
            </if>
            <if test="keyName != null">
                and KEY_NAME=#{keyName,jdbcType=VARCHAR}
            </if>
            <if test="enable != null">
                and ENABLE_=#{enable,jdbcType=INTEGER}
            </if>
            <if test="remark != null">
                and REMARK_=#{remark,jdbcType=VARCHAR}
            </if>
            <if test="createBy != null">
                and CREATE_BY=#{createBy,jdbcType=BIGINT}
            </if>
            <if test="updateBy != null">
                and UPDATE_BY=#{updateBy,jdbcType=BIGINT}
            </if>
            <if test="updateTime != null">
                and UPDATE_TIME=#{updateTime,jdbcType=TIMESTAMP}
            </if>

        </where>
    </select>

    <select id="selectOne" parameterType="com.tpay.sys.model.SysDicIndex" resultType="com.tpay.sys.model.SysDicIndex">
        select <include refid="Base_Column_List" /> from sys_dic_index
        <where>
            <if test="enable != null">
                and ENABLE_=#{enable,jdbcType=INTEGER}
            </if>
            <if test="catalogId != null">
                and CATALOG_ID=#{catalogId,jdbcType=BIGINT}
            </if>
            <if test="keyValue != null">
                and KEY_VALUE=#{keyValue,jdbcType=VARCHAR}
            </if>
            <if test="keyName != null">
                and KEY_NAME=#{keyName,jdbcType=VARCHAR}
            </if>
        </where>
    </select>


</mapper>