<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 提供方应用信息，用于计算依赖关系 -->
    <dubbo:application name="${app.name}"  />
    <!-- 使用redis中心暴露发现服务地址-->
    <dubbo:registry protocol="zookeeper"  address="${dubbo.address}"  check="false"  file="${dubbo.cache.dir}/dubbo-${app.name}.cache"/>

    <!-- 服务消费端配置 -->
    <dubbo:consumer timeout="${dubbo.timeout}" loadbalance="leastactive" check="false" retries="0" />

    <!-- 用户信息引用 -->
    <import resource="classpath:dubbo/dubbo-reference-*.xml" />


</beans>