<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tpay.user.mapper.SysRoleMapper">
  <resultMap id="BaseResultMap" type="com.tpay.user.model.SysRole">
    <id column="ID_" jdbcType="BIGINT" property="id" />
    <result column="ROLE_NAME" jdbcType="VARCHAR" property="roleName" />
    <result column="ROLE_TYPE" jdbcType="VARCHAR" property="roleType" />
    <result column="ROLE_KEY" jdbcType="VARCHAR" property="roleKey" />
    <result column="STATUS_" jdbcType="VARCHAR" property="status" />
    <result column="ENABLE_" jdbcType="INTEGER" property="enable" />
    <result column="REMARK_" jdbcType="VARCHAR" property="remark" />
    <result column="CREATE_BY" jdbcType="BIGINT" property="createBy" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_BY" jdbcType="BIGINT" property="updateBy" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <!-- 基本列 -->
  <sql id="Base_Column_List">
    ID_,ROLE_NAME,ROLE_TYPE,ROLE_KEY,STATUS_,ENABLE_,REMARK_,CREATE_BY,CREATE_TIME,UPDATE_BY,UPDATE_TIME
  </sql>
  
  <!-- 单个插入 -->
  <insert id="insert" parameterType="com.tpay.user.model.SysRole" useGeneratedKeys="true" keyProperty="id">
    insert into sys_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID_,
      </if>
      <if test="roleName != null">
        ROLE_NAME,
      </if>
      <if test="roleType != null">
        ROLE_TYPE,
      </if>
      <if test="roleKey != null">
        ROLE_KEY,
      </if>
      <if test="status != null">
        STATUS_,
      </if>
      <if test="enable != null">
        ENABLE_,
      </if>
      <if test="remark != null">
        REMARK_,
      </if>
      <if test="createBy != null">
        CREATE_BY,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateBy != null">
        UPDATE_BY,
      </if>

    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="roleName != null">
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="roleType != null">
        #{roleType,jdbcType=VARCHAR},
      </if>
      <if test="roleKey != null">
        #{roleKey,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="enable != null">
        #{enable,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=BIGINT},
      </if>

    </trim>
  </insert>
  
  <!-- 批量新增 -->
  <insert id="insertBatch" parameterType="java.util.List">
    INSERT INTO sys_role
    (ID_,ROLE_NAME,ROLE_TYPE,ROLE_KEY,STATUS_,ENABLE_,REMARK_,CREATE_BY,CREATE_TIME,UPDATE_BY)
    VALUES
    <foreach collection="list" item="item" index="index" separator=",">
       (#{item.id,jdbcType=BIGINT},#{item.roleName,jdbcType=VARCHAR},#{item.roleType,jdbcType=VARCHAR},#{item.roleKey,jdbcType=VARCHAR},#{item.status,jdbcType=VARCHAR},#{item.enable,jdbcType=INTEGER},#{item.remark,jdbcType=VARCHAR},#{item.createBy,jdbcType=BIGINT},#{item.createTime,jdbcType=TIMESTAMP},#{item.updateBy,jdbcType=BIGINT})
    </foreach>
  </insert>
  
  <!-- 单个更新 -->
  <update id="update" parameterType="com.tpay.user.model.SysRole">
    update sys_role
    <set>
      <if test="roleName != null">
        ROLE_NAME=#{roleName,jdbcType=VARCHAR},
      </if>
      <if test="roleType != null">
        ROLE_TYPE=#{roleType,jdbcType=VARCHAR},
      </if>
      <if test="roleKey != null">
        ROLE_KEY=#{roleKey,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS_=#{status,jdbcType=VARCHAR},
      </if>
      <if test="enable != null">
        ENABLE_=#{enable,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        REMARK_=#{remark,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        CREATE_BY=#{createBy,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        CREATE_TIME=#{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        UPDATE_BY=#{updateBy,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME=#{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id_ = #{id,jdbcType=BIGINT}
  </update>
  
  <!-- 批量更新 -->
  <update id="updateBatch" parameterType="java.util.List">
    <foreach collection="list" item="item" index="index" open="" close="" separator=";">  
        UPDATE sys_role
        <set>
        <if test="item.roleName != null">
          ROLE_NAME=#{item.roleName,jdbcType=VARCHAR},
        </if>
        <if test="item.roleType != null">
          ROLE_TYPE=#{item.roleType,jdbcType=VARCHAR},
        </if>
        <if test="item.roleKey != null">
          ROLE_KEY=#{item.roleKey,jdbcType=VARCHAR},
        </if>
        <if test="item.status != null">
          STATUS_=#{item.status,jdbcType=VARCHAR},
        </if>
        <if test="item.enable != null">
          ENABLE_=#{item.enable,jdbcType=INTEGER},
        </if>
        <if test="item.remark != null">
          REMARK_=#{item.remark,jdbcType=VARCHAR},
        </if>
        <if test="item.createBy != null">
          CREATE_BY=#{item.createBy,jdbcType=BIGINT},
        </if>
        <if test="item.createTime != null">
          CREATE_TIME=#{item.createTime,jdbcType=TIMESTAMP},
        </if>
        <if test="item.updateBy != null">
          UPDATE_BY=#{item.updateBy,jdbcType=BIGINT},
        </if>
        <if test="item.updateTime != null">
          UPDATE_TIME=#{item.updateTime,jdbcType=TIMESTAMP},
        </if>

        </set>
        WHERE id_ = #{item.id,jdbcType=BIGINT}
    </foreach> 
  </update>

  <update id="updateByParam" parameterType="java.util.Map">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update  sys_role
       <set>
               <if test="roleName != null">
                ROLE_NAME=#{roleName,jdbcType=VARCHAR},
              </if>
              <if test="roleType != null">
                ROLE_TYPE=#{roleType,jdbcType=VARCHAR},
              </if>
              <if test="roleKey != null">
                ROLE_KEY=#{roleKey,jdbcType=VARCHAR},
              </if>
              <if test="status != null">
                STATUS_=#{status,jdbcType=VARCHAR},
              </if>
              <if test="enable != null">
                ENABLE_=#{enable,jdbcType=INTEGER},
              </if>
              <if test="remark != null">
                REMARK_=#{remark,jdbcType=VARCHAR},
              </if>
              <if test="createBy != null">
                CREATE_BY=#{createBy,jdbcType=BIGINT},
              </if>
              <if test="createTime != null">
                CREATE_TIME=#{createTime,jdbcType=TIMESTAMP},
              </if>
              <if test="updateBy != null">
                UPDATE_BY=#{updateBy,jdbcType=BIGINT},
              </if>
              <if test="updateTime != null">
                UPDATE_TIME=#{updateTime,jdbcType=TIMESTAMP},
              </if>
          </set>
            where id_ = #{id,jdbcType=BIGINT}
        </foreach>
  </update>

  <!-- 删除 -->
  <update id="deleteByPk" parameterType="com.tpay.user.model.SysRole" >
      update sys_role
      set update_time = #{updateTime,jdbcType=TIMESTAMP},update_by = #{updateBy,jdbcType=VARCHAR}, enable_ = 0
      where id_ = #{id,jdbcType=BIGINT}
  </update>

  <update id="deleteByParam" parameterType="com.tpay.user.model.SysRole" >
        update sys_role
        set update_time = #{updateTime,jdbcType=TIMESTAMP},update_by = #{updateBy,jdbcType=VARCHAR}, enable_ = 0
      <where>
          <if test="roleName != null">
              and ROLE_NAME=#{roleName,jdbcType=VARCHAR}
          </if>
          <if test="roleType != null">
              and ROLE_TYPE=#{roleType,jdbcType=VARCHAR}
          </if>
          <if test="roleKey != null">
              and  ROLE_KEY=#{roleKey,jdbcType=VARCHAR}
          </if>
          <if test="status != null">
              and  STATUS_=#{status,jdbcType=VARCHAR}
          </if>
          <if test="remark != null">
              and  REMARK_=#{remark,jdbcType=VARCHAR}
          </if>
      </where>
  </update>
  
  <!-- 批量删除 -->
  <update id="deleteBatch" parameterType="java.util.List" >
    <foreach collection="list" item="item" index="index" open="" close="" separator=";">  
        update sys_role
        set update_time = #{updateTime,jdbcType=TIMESTAMP},update_by = #{updateBy,jdbcType=VARCHAR}, enable_ = 0
        where id_ = #{item.id,jdbcType=BIGINT}
    </foreach> 
  </update>


  <!-- COUNT -->
  <select id="count" resultType="java.lang.Integer">
        SELECT count(*) FROM sys_role where enable_ = 1
  </select>

  <select id="countByParam" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(*) from sys_role
      <where>
          <if test="roleName != null">
              and ROLE_NAME=#{roleName,jdbcType=VARCHAR}
          </if>
          <if test="roleType != null">
              and ROLE_TYPE=#{roleType,jdbcType=VARCHAR}
          </if>
          <if test="roleKey != null">
              and  ROLE_KEY=#{roleKey,jdbcType=VARCHAR}
          </if>
          <if test="status != null">
              and  STATUS_=#{status,jdbcType=VARCHAR}
          </if>
          <if test="enable != null">
              and ENABLE_=#{enable,jdbcType=INTEGER}
          </if>
          <if test="remark != null">
              and  REMARK_=#{remark,jdbcType=VARCHAR}
          </if>
          <if test="createBy != null">
              and CREATE_BY=#{createBy,jdbcType=BIGINT}
          </if>
          <if test="createTime != null">
              and   CREATE_TIME=#{createTime,jdbcType=TIMESTAMP}
          </if>
          <if test="updateBy != null">
              and   UPDATE_BY=#{updateBy,jdbcType=BIGINT}
          </if>
          <if test="updateTime != null">
              and UPDATE_TIME=#{updateTime,jdbcType=TIMESTAMP}
          </if>
      </where>
  </select>

  <!-- 单个查询 -->
  <select id="selectByPk" parameterType="java.lang.Long" resultType="com.tpay.user.model.SysRole">
        select <include refid="Base_Column_List" /> from sys_role
        where id_ = #{item.id,jdbcType=BIGINT} AND enable_ = 1
  </select>

  <!-- 查询所有 -->
  <select id="selectAll" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from sys_role where enable_ = 1
  </select>


  <select id="selectByParam" parameterType="java.util.Map" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from sys_role
      <where>
          <if test="roleName != null">
            and ROLE_NAME=#{roleName,jdbcType=VARCHAR}
          </if>
          <if test="roleType != null">
            and ROLE_TYPE=#{roleType,jdbcType=VARCHAR}
          </if>
          <if test="roleKey != null">
            and  ROLE_KEY=#{roleKey,jdbcType=VARCHAR}
          </if>
          <if test="status != null">
            and  STATUS_=#{status,jdbcType=VARCHAR}
          </if>
          <if test="enable != null">
            and ENABLE_=#{enable,jdbcType=INTEGER}
          </if>
          <if test="remark != null">
            and  REMARK_=#{remark,jdbcType=VARCHAR}
          </if>
          <if test="createBy != null">
            and CREATE_BY=#{createBy,jdbcType=BIGINT}
          </if>
          <if test="createTime != null">
            and   CREATE_TIME=#{createTime,jdbcType=TIMESTAMP}
          </if>
          <if test="updateBy != null">
            and   UPDATE_BY=#{updateBy,jdbcType=BIGINT}
          </if>
          <if test="updateTime != null">
            and UPDATE_TIME=#{updateTime,jdbcType=TIMESTAMP}
          </if>
      </where>
        <if test="orderColumn != null">
            order by ${orderColumn}
            <if test="orderType != null">
                ${orderType}
            </if>
        </if>
  </select>

    <select id="selectIdPage" resultType="java.lang.Long">
        select id_ from sys_role
        <where>
            <if test="roleName != null">
                and ROLE_NAME=#{roleName,jdbcType=VARCHAR}
            </if>
            <if test="roleType != null">
                and ROLE_TYPE=#{roleType,jdbcType=VARCHAR}
            </if>
            <if test="roleKey != null">
                and  ROLE_KEY=#{roleKey,jdbcType=VARCHAR}
            </if>
            <if test="status != null">
                and  STATUS_=#{status,jdbcType=VARCHAR}
            </if>
            <if test="enable != null">
                and ENABLE_=#{enable,jdbcType=INTEGER}
            </if>
            <if test="remark != null">
                and  REMARK_=#{remark,jdbcType=VARCHAR}
            </if>
            <if test="createBy != null">
                and CREATE_BY=#{createBy,jdbcType=BIGINT}
            </if>
            <if test="createTime != null">
                and   CREATE_TIME=#{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="updateBy != null">
                and   UPDATE_BY=#{updateBy,jdbcType=BIGINT}
            </if>
            <if test="updateTime != null">
                and UPDATE_TIME=#{updateTime,jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>


  <select id="selectBatchIdByList" resultType="com.tpay.user.model.SysRole">
        SELECT
        id_ as id,
        role_name as roleName,
        role_type as roleType,
        role_key as roleKey,
        status_ as status,
        enable_ as enable,
        remark_ as remark
        FROM
        sys_role
        WHERE
        id_ IN
        <foreach collection="list" item="item" separator="," open="(" close=")">
            #{item.roleId}
        </foreach>
    </select>


</mapper>